@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #102a43;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-track {
  background: #102a43;
}

::-webkit-scrollbar-thumb {
  background: #5d55fa;
}
